.inter-font{
  font-family: "Inter", sans-serif;
}
/* *{
    margin: 0px;
} */

/* shared styles */
.primary-color{
    color: rgb(230, 83, 60);
}
.description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
/* header styles */
header{
    background-color: black;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}
.nav-title{
    font-weight: 800;
    font-size: 2.25rem;
    font-style: italic;
}
.nav-items{
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.nav-items-container{
    display: flex;
    gap: 50px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px;
}
.dot{
    display: flex;
    flex-direction: column;
    gap: 4px;
    display: none;
}
.menu-bar{
    width: 30px;
    height: 5px;
    border-radius: 40px;
    background-color: white;
  }
#home{
    color: white;
    background-color: rgb(230, 83, 60);
    border-radius: 30px;
    padding: 5px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
    padding-bottom: 60px;
}
.header-info-container{
    max-width: 520px;
}
.header-img-container img{
    width: 100%;
}
.header-title{
    font-size: 4.8rem;
    font-weight: 900;
    color: white;
}
.header-btn1{
    background-color: rgb(230, 83, 60);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 35px;
    border: none;
    padding: 20px 30px;
    margin-right: 20px;
}
.header-btn2{
    color: white;
    background-color: black;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 35px;
    border: 2px solid white;
    padding: 20px 30px;
}
.floating-btn1{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    text-align: center;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-left: -60px;
    margin-top: -200px;

}
.btn1-title{
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
}
.btn1-type{
    font-size: 1rem;
    font-weight: 400px;
    color: rgba(239, 237, 232, 0.65);
}
#circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}
.floating-btn2{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    text-align: center;
    padding: 20px 30px;
    margin-left: 200px;
    margin-top: -1000px;

}
.btn2-title{
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
}
.btn2-type{
    font-size: 1rem;
    font-weight: 400px;
    color: rgba(239, 237, 232, 0.65);
}

/* smaller device styles */
@media screen and (max-width:576px) {
    .header{
        flex-direction: column;
    }
    .header{
        margin: 20px;
    }
    .nav-items-container{
        display: none;
    }
    .dot{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    .navbar{
        margin: 50px;
        justify-content: space-between;
        gap: 50px;
    }
}